

.button-group_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    gap: 2%;
    
}

.button-group_element {
    background-color: transparent;
    align-content: center;
    justify-content: center;
    
}
