@using MLApplication_frontend.Components.Navigation.ApplicationSideNavigationPanel
@using MLApplication_frontend.Components.Navigation.ApplicationSideNavigationPanel.NavigationPanelContent
@inject ILogger<ApplicationNavigationPanel> Logger
@inject InstanceAttributeStateContainer stateContainer

<div class="side-navigation-panel__container">
    <div class="side-navigation-panel__button-group">
        <ApplicationNavigationButtonGroup ChangeVisablePanelContent="@ChangeVisablePanelContent" />
    </div>
    <div class="side-navigation-panel__panel-content">
        @VisablePanelContent.PanelContent
        
    </div>
    
</div>

