<div class="title-text__main-text-container">
    <h1 class="title-text__text-style @(StartAnimationsFlag ? "title-text__main-text-animation": null )">@TitleText</h1>
</div>

<div class="title-text__shadow-text-container">
    <h1 class="title-text__text-style-shadow-text @(StartAnimationsFlag ? "title-text__shadow-text-animation" : null )">@TitleText</h1>
</div>


