@inject ILogger<ConstructedEnvironment> Logger
@inject Services.InstanceAttributeStateContainer stateContainer


<div class="environment__container ">
    <div style="grid-template-columns: repeat(@CurrentEnvironmentDimension_X, 1fr);grid-template-rows: repeat(@CurrentEnvironmentDimension_Y, 1fr);" class="environment__layout">
        @foreach (var elm in @EnvioronmentNodeList)
        {
            <div class="environment-maze-node" style="background-color: @elm.BackgroundColor;" id="@elm.Index" @onclick="@(e => updateEnvironmentNodeStateData(@elm.Index))" />
        }
    </div>
    
</div>



