.side-navigation-panel__container {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: whitesmoke; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.side-navigation-panel__button-group {
    float: left;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-content: center;
    z-index: 2;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-right: 6px ridge;
    border-color: rgba(255, 255, 255, 0.1);
}


.side-navigation-panel__main-content__wrapper {
    float: left;
    display: flex;
    justify-content: space-evenly; /* Align items with space between them */
    /* Optional: Adjust other flex properties */
    align-items: center; /* Align items vertically */
    background-color: transparent; /* Container background color */
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.side-navigation-panel__main-content__header {
    width: 100%;
    height: 15%;
    z-index: 2;
    background: whitesmoke;
}



.side-navigation-panel__main-content__panel-content {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
}


