@page "/generational_learning_results_page"
@using MLApplication_frontend.Components.Navigation.TopNavigationBar
@using MLApplication_frontend.Components.Navigation.ResultsNaviagtion




<TopNavigationBar />

<div class="results-page__page-content-container">
    
    <div class="results-page__side-navigation-conatiner">
        <ResultsNavigationPanel />
    </div>

    <div class="results-page__graph-content-container">
        <canvas id="myChart" ></canvas>
        
    </div>
    

    
</div>






