.generational-learning-page-side-nav-group__item {
    position: relative;
    padding: 10px 4px; /* Adjust padding as needed */
    width: 100%; /* Make each item take full width of the container */
    box-sizing: border-box; /* Ensure padding is included in the width */
}
