@page "/home_page"
@using MLApplication_frontend.Components.Buttons
@using MLApplication_frontend.Components.Titles
@using MLApplication_frontend.Components.Navigation.HomePageNavigationGrid



<div class="home-page-title__container">
    <HomePageTitle TitleText="Machine Learning" />
</div>

<div class="home-page-subheading__container">Select a Subject</div>


<div class="home-page-navigation-grid__container">
    <NavigationGrid></NavigationGrid>
</div>
