label {
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.side-navigation-panel__content-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    align-content: center;
}

.side-navigation-panel__title {
    width: 100%;
    color: black;
    padding: 10px;
    border-bottom: 1px ridge whitesmoke;
    position: relative;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    max-height: 5%;
    top: 0;
    text-align: center;
}


.side-navigation-panel__sub-headding {
    width: 80%;
    color: black;
    padding: 10px;
    border-bottom: 1px ridge whitesmoke;
    position: relative;
    font-weight: bold;
    font-size: 0.8em;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    max-height: 5%;
    top: 0;
    text-align: center;
    left: 10%;
}

.page_element {
    padding: 2% 5%;
}

.page_element__dropdown {
    width: 100%;
    background-color: whitesmoke;
}

.page_element__button-group {
    display: flex;
    
    height: 100%;
    width: 100%;
    background-color: transparent;
    justify-content: space-evenly;
    align-content: center;
}


.page_element__button-group__button {
    position: relative;
    
    
    width: 100%;
    z-index: 1;
    background-color: transparent;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: none;
    border-right: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.page_element__button-group__button:last-child {
    border-right: none; /* Remove right border from the last button */
}


