label {
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 4px;
}


select {
    width: 80%;
    
}

.hyper-parameter_base-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    
}

.side-navigation__text-input-field {
    width: 100%;
    background-color: whitesmoke;
    
}

.side-navigation-panel__title {
    width: 100%;
    color: black;
    padding: 10px;
    border-bottom: 1px ridge whitesmoke;
    position: relative;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    max-height: 5%;
    top: 0;
    text-align: center;
}

.side-navigation-panel__sub-headding {
    width: 80%;
    color: black;
    padding: 10px;
    border-bottom: 1px ridge whitesmoke;
    position: relative;
    font-weight: bold;
    font-size: 0.8em;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    z-index: 2;
    max-height: 5%;
    top: 0;
    text-align: center;
    left: 10%;
}

.page_element {
    background-color: transparent;
    padding: 2% 10%;
}

.hyper-parameter-panel__button {
    position: relative;
    
    left: 35%;
    background-color: transparent;
    border-radius: 10px;
    border-color: transparent;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}


