@inject InstanceAttributeStateContainer stateContainer
@inject ILogger<HyperParameterPanelContent> Logger
<div class="hyper-parameter_base-container">

<div class="side-navigation-panel__title">
    Hyper Parameters
</div>

<div class="page_element ">
    <label for="InstanceName" >Instance Name</label>
    <InputText class="side-navigation__text-input-field" @bind-Value="@stateContainer.InstanceName" id="InstanceName" />
</div>

    <div class="side-navigation-panel__sub-headding">
    Generation Variables
</div>

<div class="page_element ">
    <label for="NumberOfGenerations">Number of Generations</label>
    <InputText class="side-navigation__text-input-field" @bind-Value=@stateContainer.NumberOfGenerations id="NumGenerations" />
</div>

<div class="page_element ">
    <label for="AgentsPerGeneration">Agents per Generation</label>
    <InputText class="side-navigation__text-input-field" @bind-Value=@stateContainer.AgentsPerGeneration id="AgentsPerGeneration" />
</div>

<div class="page_element ">
    <label>Start new generation Threhold</label>
    <InputText class="side-navigation__text-input-field" @bind-Value=@stateContainer.StartNewGenerationThreshold />
</div>

    
<div class="page_element ">
    <label>Generation Failure Threshold</label>
    <InputText class="side-navigation__text-input-field" @bind-Value=@stateContainer.GenerationFailureThreshold />
</div>



<div class="side-navigation-panel__sub-headding">Fitness & Actions</div>

<div class="page_element ">
    <label >Starting fitness threshold</label>
    <InputText class="side-navigation__text-input-field" @bind-Value=@stateContainer.StartingFitnessThreshold id="FitnessThresholdGain" />
</div>


<div class="page_element ">
    <label>Maximum action Count</label>
        <InputText class="side-navigation__text-input-field"  @bind-Value=@stateContainer.EnvironmentMaxActionCount />
</div>




</div>
        
