@inject InstanceAttributeStateContainer stateContainer
@inject ILogger<SubmitInstancePanelContent> Logger

<div class="settings-pannel__main-title">Submit Instance Data</div>

<div class="settings-pannel__element">
    <button @onclick="@FormatStateData">Submit For Processing</button>
</div>

